.form-container{
    display: flex;
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
}

.form-cotent{
    margin:auto;
}

.form-header{
    margin-top: 1rem;
}

.form-input-container{
    display: flex;
}

.itsDataListDiv{
    /* background-color: white; */
    padding: 1em;
    border-radius: 4px;
}

.text-note{
    font-size: 0.8em;
    color: #888;
    padding-bottom: 1em;
}

.entry-form,
.past-entries {
    background-color: #ffffffc7;
    padding: 1em;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #ddd;
}

.entry-form h3,
 .past-entries h3 {
    border-bottom: 2px solid #eee;
    color: #555;
    margin-bottom: 0.5em;
}

label{
    font-weight: 700;
    color: #555;
}