.form-container{
    display: flex;
    background-color:#fbf7e7;
    width: 100%;
    height: 100%;
}

.form-cotent{
    margin:auto;
}

.form-header{
    margin-top: 1rem;
}

.form-input-container{
    display: flex;
}