.user-card {
  background-color: #f9f9f9;
  border: 0.5px solid rgb(189, 189, 189);
  box-shadow: 2px 2px 2px #c9c9c9;
  border-radius: 4px;
  margin-bottom: 0.4em;
}

.nav-container{
  width:100%;
   color:#fff ;
   align-Items:center;
   cursor:pointer; 
   margin:10px
}

.user-img {
  border: 0.5px solid #bdbdbd;
  max-height:118px;
  box-shadow: 2px 2px 2px #ddd;
  margin: 1em;
}

.user-details {
  font-weight: 700;
  font-size: 14px;
  font-family: Inter;
  color: #00336D;
  line-height: 17px;
}

.user-details p {
  margin: 0;
  line-height: 1.5em;
}

.page-title {
  color: #002146;
  background-color: white;
  padding: 0.3em;
  border: 0.5px solid rgb(189, 189, 189);
  border-radius: 0.2em;
  box-shadow: 2px 2px 2px #c9c9c9;
}

.sidebar-content{
  color:"#000 !important";
    padding:"5px !important";
    border-bottom: "1px solid #000 !important";
}

.loader-content{
  display:flex;
  height: 100%;
  justify-content:center;
  align-items: center;
}

.image-content{
  width: 60px;
    height: 80px;
    margin-left: 10px;
    border-radius: 25px;
}

.image-header{
  color: #ffffff;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 10px;
}

.button-downlaod{
  margin-left: 100px;
  color: #002146
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
